# 최상위 파일은 들여쓰기 없음
root = true

# 모든 파일에 대한 설정
[*]
indent_style = space
indent_size = 2
end_of_line = lf
charset = utf-8
trim_trailing_whitespace = true
insert_final_newline = true

# JavaScript 및 TypeScript 파일에 대한 설정
[*.{js,jsx,ts,tsx}]
indent_style = space
indent_size = 2
